.nav {

    grid-area: nav;
    background-color: #b1f3ba;
}

.item a{
    font-family: Calibri;
    color: #1a6565;
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.item a.active {
    color: indigo;

}