.nav {

    grid-area: nav;
    background-color: #645E5772;
}

.item a{
    font-family: Calibri;
    color: #000000;
    font-size: 28px;
    padding-left: 10px;
    padding-top: 10px;
    text-decoration: none;
}

.item a.active {
    color: #0022ff;
    border-color: goldenrod;
    border-radius: 50px;

}

.item a:hover{
    color: rgb(224, 231, 238);
    text-decoration: underline;


}

.item a.active:hover {
    color: #0022ff;
    border-color: goldenrod;
    border-radius: 50px;
    text-decoration: none;
}