.descriptionBlock{
    width: 500px;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    font-size: 20px;
    padding: 10px;
    border: solid;
    border-radius: 10px;
    border-color: #a055d5;
}
.contact{
    padding-left: 10px;
}