.app {
    margin: 0 auto;
    width: auto;
    height: auto;
    grid-template-areas:   /*здесь описывается по какому шаблону выстроены элементы*/
            'header header'
            'nav content';

    display: grid;
    grid-template-rows: 80px 1fr; /*сколько будет строк/ 2 строки*/
    grid-template-columns: 150px 10fr; /*сколько будет колонок/ 2 колонки, из них 2фракции и 10 фракций*/
    /*grid-gap: 10px;*/
}
.app-content{
    grid-area: content;
    background-color: rgba(70, 191, 231, 0.6);
}

