.dialogs {
    display: grid;
    grid-template-columns: 2fr 5fr; /*определяет колонки сетки с помощью списка значений разделённого пробелами*/
}

.dialogsItem {
    padding: 10px;
    color: bisque;
}

.dialogsItem .active {
    color: goldenrod;
}

.dialog {
    font-size: 20px;
}

.dialog img {
    width: 50px;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: antiquewhite;

}
